.body{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    }
    
    
    #header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 80px;
    background-image: url(wood-bg.png);
    background-repeat:repeat-x;
    color:whitesmoke;
    }
    
    
    
    /*===========================TOP-TABS================================*/
    
    #tabs-top{
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: darkgreen;
    }
    #tabs-top a{
    float: left;
    display: block;
    width: 25%;
    height: 35px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
    }
    /*===========================MAIN-HOME================================*/
    #main-home{
    margin-top: 120px;
     margin-left:0;
     margin-right:0;
    
    
    
    
    
    }
    #bottom{
    position: fixed;
    bottom: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color:darkgreen;
    text-decoration: none;
    }
   #bottom a{
    float: left;
    display: block;
    width: 50%;
    height: 35px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
    }
    
    
  #aboutid {
    background-image: url(blur.png) ;  width: 100%;
    margin-top: 120px;
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
    color: white;
    padding: none;
    margin: none;
    background: rgba(0, 0, 0, 0.5);
}

    #form{
    margin-top: 130px;
    margin-bottom: 40px;
    /*===========================FORM=======================================*/
    input{
    width: 100%;
    height: 25px;
    margin: 12px 0;
    border: 4px solid darkgreen;
    }
    textarea{
    width: 100%;
    height: 65px;
    margin: 12px 0;
    border: 4px solid darkgreen;
    }
    .button{
    display: block;
    width: 100%;
    background-color: forestgreen;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin: 12px 0;
    padding: 8px 0;
    }
    }
    #blur{
    background-image: url(blur.png) ;  width: 100%;
    
     
    
    }
    #backimagebook img{
    height:80px;
    position:inherit ;
    }
    #services-tab{
    margin-top: 120px;
    margin-bottom: 40px;
    }
   

#services-tab {
    position: relative;
    z-index: 2;
    color: white;
    padding: none;
    margin: none;
    background: rgba(0, 0, 0, 0.5);

}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


#blur {
    background-image: url(blur.png);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;  
    width: 100%;
}


#services-tab {
    min-height: 100vh; 
    background-image: url("blur.png");
    background-size: cover;       
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(24, 23, 23);
    padding: 40px;
    border-radius: 10px;
}




  
